*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
	font-size: 62.5%;
	line-height: 2;
	font-family: 'Kosugi', sans-serif;YuGothic, sans-serif;
	text-align: center;
}


body, figure{
    margin: 0;
}

           /*背景*/


          /*header*/

header{
	position: relative;
	height: 100vh;
    margin: 0 auto;
    background: url(image/background01.jpg) center / cover;
}

nav {
  font-size: 23px;
  z-index: 90;
  position: absolute;
  float: left;
  margin-left: 800px;
  overflow: hidden; 
}

nav li {
    list-style-type: none;
    float: left; 
}

nav li a {
      text-decoration: none;
      display: inline-block;
      color: #fff;
      margin: 20px; 
      margin-right:20px;
      font-family: 'Notable', sans-serif;
      transition: 2s;
}

 nav li a:hover {
        transition: 0.1s;
        border-bottom: 3px solid #fff; 
}

#header::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255,255,255,.2) radial-gradient(rgba(255,255,255,.3) 25%, transparent 0) center / 5px 5px;
}

header h1 {
	position: absolute;
	z-index: 1;
	top: 55%;
	width: 100%;
	margin: 0;
	padding: 0 .5em;
	color: #fff;
	font-size: 8rem;
	line-height: 1.4;
	font-family: fantasy;
	letter-spacing: .1em;
	transform: translateY(-50%);
}

header h2 {
	position: absolute;
	z-index: 1;
	top: 40%;
	width: 100%;
	margin: 0;
	padding: 0 .5em;
	color: #fff;
	font-size: 5rem;
	line-height: 1.4;
	font-family:fantasy;
	letter-spacing: .1em;
	transform: translateY(-50%);
}
          /*JQ*/
.fadein {
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 0.5s; }

.fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0); }

         /*NEWS*/
#news h1{
    color: #000;
    margin-top: 200px;
    margin-bottom: 80px;
    font-size: 50px;
    font-family: 'Notable', sans-serif;
}

#news p1{
  display: block;
  font-size: 15px;
  line-height: 50px;
  
  }

         /*ABOUT*/
#about h1{
    color: #000;
    margin-top: 200px;
    font-size: 50px;
    font-family: 'Notable', sans-serif;
}

#about h2{
    font-size: 30px;
    margin-top: 200px;
}

#about {
  display: block;
  
 
}
  
#about h1 {
    
    color: #000;
    position: relative;
    margin-top: 200px;
    text-align: center; 
}

#about h2{
    margin-top: 100px;
}
  
#about .box-access {
    width: 75%;
    height: 50vh;
    position: relative;
    left: 12.5%;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.07); }
   
#about .box-access .left-access {
      border-radius: 10px 0px 0px 10px;
      width: 50%;
      height: 100%;
      float: left;
      overflow: hidden; 
}

#about .box-access .right-access {
      border-radius: 0px 10px 10px 0px;
      background-color: #fff;
      width: 50%;
      height: 100%;
      float: left; 
}

 
#about a {
    display: block;
    position: relative;
    top: 100px;
    text-align: center;
    text-decoration: none;
    padding: 7px 14px;
    margin: 0px 440px;
    background-color: #182b2e;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    transition: 1s; 
}
    
#about a:hover {
      color: #182b2e;
      border: 1px solid #182b2e;
      background-color: #fff; 
}

#about .box-access .right-access .right-access-common h2 {
          float: left;
          display: block;
          position: relative;
          left: 18%;
          line-height: 50px;
          font-size: 30px; 
          margin-top: 40px;
}

#about .box-access .right-access .right-access-common img{
    margin-top: 40px;
}

         /*MENBER*/
#menber h1{
    color: #000;
    margin-top: 200px;
    font-size: 50px;
    font-family: 'Notable', sans-serif;
}

#menber h2{
    color: #000;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
}

      /*3回生*/
.box-list{
  list-style: none;
  overflow: hidden;
}
.box-list li{
  float: left;
  border:1px solid #ddd;
  width: 19%;
  margin-bottom: 1%;
  margin-right: 1.25%;
}
ul li:last-child{
  margin-right:0;
}
img{
  width: 100%
}
     /*2回生*/
.box-list2{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.box-list2 li{
  float: left;
  border:1px solid #ddd;
  width: 19%;
  margin-bottom: 1%;
  margin-right: 1.25%;
}
.box-list2-1{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.box-list2-1 li{
  float: left;
  border:1px solid #ddd;
  width: 19%;
  margin-bottom: 1%;
  margin-right: 1.25%;
}
ul li:last-child{
  margin-right:0;
}
img{
  width: 100%
}
     /*1回生*/
.box-list3{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.box-list3 li{
  float: left;
  border:1px solid #ddd;
  width: 19%;
  margin-bottom: 1%;
  margin-right: 1.25%;
}
ul li:last-child{
  margin-right:0;
}
img{
  width: 100%
}


        /*PHOTO*/
#photo h1{
    color: #000;
    margin-top: 200px;
    margin-bottom: 100px;
    font-size: 50px;
    font-family: 'Notable', sans-serif;
}

#container{
    margin: 0 auto;
    overflow: hidden;
    width: 1200px;
    
}
.grid{
    margin: 2px;
    background: #ffb21a;
    float: left;
}
.col1 {width: 230px;}
.col2 {width: 480px;}
.col3 {width: 300px;}
.col4 {width: 580px;}

   /*footer*/
footer {
  width: 100%;
  margin: 0px auto;
  margin-top: 200px;
  padding: 30px 0px;
  text-align: center;
  background-color: #ffb21a;
  color: #fff;
  font-weight: 700;
  font-size: 14px; }

